.move1{
    width: 60px;
    height: 60px;
    background-color: darkcyan;
    border: black 1px solid;
    text-align: center;
    position: relative;
    animation-name: test;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-direction: reverse;
    animation-iteration-count: infinite;
    line-height: 60px;
}
.move2{
    width: 60px;
    height: 60px;
    background-color: darkcyan;
    border: black 1px solid;
    text-align: center;
    position: relative;
    animation-name: test;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    line-height: 60px;
}
.move3{
    width: 60px;
    height: 60px;
    background-color: darkcyan;
    border: black 1px solid;
    text-align: center;
    position: relative;
    animation-name: test;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    line-height: 60px;
}

@keyframes test{
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  
}